@reference '#ui/styles/index.css';

.r3dcard {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 1.4em;
  border: 0;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.2s ease-in-out 0s;
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
  box-shadow:
    rgb(0 0 0 / 0.1) 0 2px 2px,
    rgb(0 0 0 / 0.2) 0 7px 13px -3px,
    rgb(0 0 0 / 0.12) 0 -3px 0 inset;
}

/* noLink */
.noLink {
  transform: translateY(2px);
  box-shadow:
    rgb(0 0 0 / 0.2) 0 0 0,
    rgb(0 0 0 / 0.2) 0 0 0 1px,
    rgb(0 0 0 / 0.12) 0 0 0 inset;
}

.activeDot {
  width: 50vw;
  height: 60px;
  border-radius: 20% 0;
}

/* r3dcard:hover */
.r3dcard:hover,
.r3dcard:active {
  transform: translateY(2px);
  box-shadow:
    rgb(0 0 0 / 0.2) 0 0 0,
    rgb(0 0 0 / 0.2) 0 0 0 1px,
    rgb(0 0 0 / 0.12) 0 0 0 inset;
}

/* dark mode */
[data-theme='dark'] .r3dcard {
  box-shadow:
    rgb(255 255 255 / 0.1) 0 2px 2px,
    rgb(255 255 255 / 0.2) 0 6px 8px -3px,
    rgb(255 255 255 / 0.12) 0 -3px 0 inset;
}

[data-theme='dark'] .r3dcard.noLink {
  transform: translateY(2px);
  box-shadow:
    rgb(255 255 255 / 0.1) 0 0 0,
    rgb(255 255 255 / 0.1) 0 0 0 1px,
    rgb(255 255 255 / 0.05) 0 0 0 inset;
}

[data-theme='dark'] .r3dcard:hover,
[data-theme='dark'] .r3dcard:active {
  transform: translateY(2px);
  box-shadow:
    rgb(255 255 255 / 0.2) 0 0 0,
    rgb(255 255 255 / 0.2) 0 0 0 1px,
    rgb(255 255 255 / 0.12) 0 0 0 inset;
}
