@charset "utf-8";
/* 
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
 */
@import 'tailwindcss';
@import './normalize.css' layer(utilities);
@import './nrbase.css' layer(utilities);
@import './scrollbar.css' layer(utilities);
@import './markdown.css' layer(utilities);
@import './theme.css' layer(utilities);

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-fluo-500: #9dff3a;
  --color-fluo: var(--fluo);
  --color-fluo-primary: var(--fluo-primary);
  --color-fluo-deep: var(--fluo-deep);
  --color-fluo-light: var(--fluo-light);
  --color-fluo-soft: var(--fluo-soft);
  --color-fluo-pale: var(--fluo-pale);
  --color-fluo-mute: var(--fluo-mute);
  --color-fluo-logo: var(--nr-logo-primary);
  --color-fluo-logobg: var(--nr-logo-bg);
  --color-fluo-background: var(--fluo-background);

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-pulse-100: #0000330f;
  --color-pulse-200: #00002d17;
  --color-pulse-300: #ddeaf814;
  --color-pulse-400: #d3edf81d;

  --color-green-100: #edf2eb;
  --color-green-200: #c5e5b4;
  --color-green-300: #99cc7d;
  --color-green-400: #84ba64;
  --color-green-500: #5fa04e;
  --color-green-600: #417e38;
  --color-green-700: #2c682c;
  --color-green-800: #2c682c;
  --color-green-900: #1a3f1d;

  --color-neutral-100: #f6f7f9;
  --color-neutral-200: #e9edf0;
  --color-neutral-300: #d9e1e4;
  --color-neutral-400: #cbd4d9;
  --color-neutral-500: #b1bcc2;
  --color-neutral-600: #929fa5;
  --color-neutral-700: #6e7b83;
  --color-neutral-800: #556066;
  --color-neutral-900: #2c3437;
  --color-neutral-950: #0d121c;

  --color-danger-100: #fbf1f0;
  --color-danger-200: #fad3d4;
  --color-danger-300: #fab6b7;
  --color-danger-400: #fa8e8e;
  --color-danger-500: #f65354;
  --color-danger-600: #de1a1b;
  --color-danger-700: #b80c0c;
  --color-danger-800: #900e0e;
  --color-danger-900: #661514;

  --color-warning-100: #fdf3e7;
  --color-warning-200: #fad9b0;
  --color-warning-300: #f5bc75;
  --color-warning-400: #e99c40;
  --color-warning-500: #d07912;
  --color-warning-600: #ae5f00;
  --color-warning-700: #8b4d04;
  --color-warning-800: #683d08;
  --color-warning-900: #4d2f0b;

  --color-info-100: #e9f4fa;
  --color-info-200: #bce6fc;
  --color-info-300: #8ed4f8;
  --color-info-400: #52baed;
  --color-info-500: #229ad6;
  --color-info-600: #0c7bb3;
  --color-info-700: #066291;
  --color-info-800: #074d71;
  --color-info-900: #0a3953;

  --color-accent1-100: #f7f1fb;
  --color-accent1-200: #ead9fb;
  --color-accent1-300: #dbbdf9;
  --color-accent1-400: #c79bf2;
  --color-accent1-500: #af74e8;
  --color-accent1-600: #9756d6;
  --color-accent1-700: #7d3cbe;
  --color-accent1-800: #642b9e;
  --color-accent1-900: #361b52;

  --color-accent2-100: #fbf0f4;
  --color-accent2-200: #fbd4e6;
  --color-accent2-300: #fbb4d2;
  --color-accent2-400: #f68bb7;
  --color-accent2-500: #ed5393;
  --color-accent2-600: #d6246e;
  --color-accent2-700: #b01356;
  --color-accent2-800: #8b1245;
  --color-accent2-900: #411526;

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --spacing-navh: var(--nr-header-h);
  --spacing-navf: var(--nr-footer-h);
  --spacing-sdbw: var(--nr-sidebar);
  --spacing-top-boundary: var(--nr-top-boundary);

  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.875rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 3.75rem;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 4.5rem;

  --font-open-sans: var(--font-open-sans);
  --font-ibm-plex-mono: var(--font-ibm-plex-mono);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-subtle: linear-gradient(
    180deg,
    --theme(--color-neutral-100 / 50%) 0%,
    --theme(--color-neutral-100 / 0%) 48.32%
  );
  --background-image-gradient-subtle-dark: linear-gradient(
    180deg,
    --theme(--color-neutral-900 / 50%) 0%,
    --theme(--color-neutral-900 / 0%) 48.32%
  );
  --background-image-gradient-subtle-gray: linear-gradient(
    180deg,
    var(--color-neutral-900) 0%,
    --theme(--color-neutral-900 / 80%) 100%
  );
  --background-image-gradient-subtle-white: linear-gradient(
    180deg,
    var(--color-white) 0%,
    --theme(--color-white / 80%) 100%
  );
  --background-image-gradient-glow-backdrop: radial-gradient(
    8em circle at calc(50%) 10px,
    var(--color-green-500),
    transparent 30%
  );
  --background-image-gradient-fluo: linear-gradient(
    180deg,
    var(--fluo-gradual-start),
    var(--fluo-gradual-end)
  );
  --background-image-gradient-fluo-tr: linear-gradient(
    to right,
    var(--fluo-gradual-start),
    var(--fluo-gradual-end)
  );
  --background-image-gradient-four-c3: linear-gradient(
    to right,
    #22d8e0 30%,
    #10b981 60%,
    #facc15 100%
  );
  --background-image-gradient-four-c4: linear-gradient(
    to right,
    #6366f1 25%,
    #22d8e0 50%,
    #10b981 75%,
    #facc15 100%
  );
  --background-image-gradient-article-cover: radial-gradient(
    circle at center,
    white 0%,
    white 0%,
    #10b981 60%
  );

  --animate-surf: surf 1s infinite ease-in-out;
  --animate-pulse-speed: pulse 600ms infinite alternate-reverse;

  @keyframes surf {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, 6px);
    }
    50% {
      transform: translate(0, -6px);
    }
    75% {
      transform: translate(0, 3px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pulse {
    from {
      background: var(--color-pulse-100);
    }
    to {
      background: var(--color-pulse-200);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  html,
  body,
  :root {
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer base {
  [data-theme='light'],
  [data-theme='default-light'],
  .light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  [data-theme='dark'],
  [data-theme='default-dark'],
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .active-item {
    @apply text-primary font-semibold;
  }

  .active-item::after {
    content: '';
    @apply absolute right-0 bottom-0 left-0;
    @apply h-[2px] origin-left scale-x-100 bg-lime-500;
    @apply transition-transform duration-300 ease-out;
  }

  .inactive-item {
    @apply text-muted-foreground hover:text-primary;
  }

  .inactive-item::after {
    content: '';
    @apply absolute right-0 bottom-0 left-0;
    @apply h-[2px] origin-left scale-x-0 bg-lime-500;
    @apply transition-transform duration-300 ease-out;
  }

  .inactive-item:hover::after {
    @apply scale-x-100;
  }
}
