/**
 * Tailwind CSS V4 Theme Configuration
 */

/* shadcnui theme token config */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* Coustom expansion theme token config */
@theme inline {
  /* Fluo */
  --color-fluo-500: #9dff3a;
  --color-fluo: var(--fluo);
  --color-fluo-primary: var(--fluo-primary);
  --color-fluo-deep: var(--fluo-deep);
  --color-fluo-light: var(--fluo-light);
  --color-fluo-soft: var(--fluo-soft);
  --color-fluo-pale: var(--fluo-pale);
  --color-fluo-mute: var(--fluo-mute);
  --color-fluo-logo: var(--nr-logo-primary);
  --color-fluo-logobg: var(--nr-logo-bg);
  --color-fluo-background: var(--fluo-background);

  /* Pulse */
  --color-pulse-100: #0000330f;
  --color-pulse-200: #00002d17;
  --color-pulse-300: #ddeaf814;
  --color-pulse-400: #d3edf81d;

  /* Green */
  --color-green-100: #edf2eb;
  --color-green-200: #c5e5b4;
  --color-green-300: #99cc7d;
  --color-green-400: #84ba64;
  --color-green-500: #5fa04e;
  --color-green-600: #417e38;
  --color-green-700: #2c682c;
  --color-green-800: #2c682c;
  --color-green-900: #1a3f1d;

  /* Neutral */
  --color-neutral-100: #f6f7f9;
  --color-neutral-200: #e9edf0;
  --color-neutral-300: #d9e1e4;
  --color-neutral-400: #cbd4d9;
  --color-neutral-500: #b1bcc2;
  --color-neutral-600: #929fa5;
  --color-neutral-700: #6e7b83;
  --color-neutral-800: #556066;
  --color-neutral-900: #2c3437;
  --color-neutral-950: #0d121c;

  /* Danger */
  --color-danger-100: #fbf1f0;
  --color-danger-200: #fad3d4;
  --color-danger-300: #fab6b7;
  --color-danger-400: #fa8e8e;
  --color-danger-500: #f65354;
  --color-danger-600: #de1a1b;
  --color-danger-700: #b80c0c;
  --color-danger-800: #900e0e;
  --color-danger-900: #661514;

  /* Warning */
  --color-warning-100: #fdf3e7;
  --color-warning-200: #fad9b0;
  --color-warning-300: #f5bc75;
  --color-warning-400: #e99c40;
  --color-warning-500: #d07912;
  --color-warning-600: #ae5f00;
  --color-warning-700: #8b4d04;
  --color-warning-800: #683d08;
  --color-warning-900: #4d2f0b;

  /* Info */
  --color-info-100: #e9f4fa;
  --color-info-200: #bce6fc;
  --color-info-300: #8ed4f8;
  --color-info-400: #52baed;
  --color-info-500: #229ad6;
  --color-info-600: #0c7bb3;
  --color-info-700: #066291;
  --color-info-800: #074d71;
  --color-info-900: #0a3953;

  /* Accent1 */
  --color-accent1-100: #f7f1fb;
  --color-accent1-200: #ead9fb;
  --color-accent1-300: #dbbdf9;
  --color-accent1-400: #c79bf2;
  --color-accent1-500: #af74e8;
  --color-accent1-600: #9756d6;
  --color-accent1-700: #7d3cbe;
  --color-accent1-800: #642b9e;
  --color-accent1-900: #361b52;

  /* Accent2 */
  --color-accent2-100: #fbf0f4;
  --color-accent2-200: #fbd4e6;
  --color-accent2-300: #fbb4d2;
  --color-accent2-400: #f68bb7;
  --color-accent2-500: #ed5393;
  --color-accent2-600: #d6246e;
  --color-accent2-700: #b01356;
  --color-accent2-800: #8b1245;
  --color-accent2-900: #411526;

  /* ========== Spacing  ========== */
  --spacing-navh: var(--nr-header-h);
  --spacing-navf: var(--nr-footer-h);
  --spacing-sdbw: var(--nr-sidebar);
  --spacing-top-boundary: var(--nr-top-boundary);

  /* ========== shadow ========== */
  --shadow-3dcard:
    0 2px 2px rgb(0 0 0 / 0.1), 0 7px 13px -3px rgb(0 0 0 / 0.2),
    inset 0 -3px 0px rgb(0 0 0 / 0.12);

  /* ========== Font Size  ========== */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-xs: 0.75rem;
  --font-xs-line-height: 1rem;
  --font-sm: 0.87rem;
  --font-sm-line-height: 1.25rem;
  --font-base: 1rem;
  --font-base-line-height: 1.5rem;
  --font-lg: 1.125rem;
  --font-lg-line-height: 1.75rem;
  --font-xl: 1.25rem;
  --font-xl-line-height: 1.875rem;
  --font-2xl: 1.5rem;
  --font-2xl-line-height: 2rem;
  --font-3xl: 1.875rem;
  --font-3xl-line-height: 2.25rem;
  --font-4xl: 2.25rem;
  --font-4xl-line-height: 2.5rem;
  --font-5xl: 3rem;
  --font-5xl-line-height: 3rem;
  --font-6xl: 3.75rem;
  --font-6xl-line-height: 3.75rem;
  --font-7xl: 4.5rem;
  --font-7xl-line-height: 4.5rem;

  /* ========== Font Family ========== */
  --font-open-sans: var(--font-open-sans);
  --font-ibm-plex-mono: var(--font-ibm-plex-mono);

  /* ========== Background Images  ========== */
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-subtle: linear-gradient(
    180deg,
    color-mix(in oklch, var(--color-neutral-100) 50%, transparent) 0%,
    color-mix(in oklch, var(--color-neutral-100) 0%, transparent) 48.32%
  );
  --background-image-gradient-subtle-dark: linear-gradient(
    180deg,
    color-mix(in oklch, var(--color-neutral-900) 50%, transparent) 0%,
    color-mix(in oklch, var(--color-neutral-900) 0%, transparent) 48.32%
  );
  --background-image-gradient-subtle-gray: linear-gradient(
    180deg,
    var(--color-neutral-900) 0%,
    color-mix(in oklch, var(--color-neutral-900) 80%, transparent) 100%
  );
  --background-image-gradient-subtle-white: linear-gradient(
    180deg,
    white 0%,
    color-mix(in oklch, white 80%, transparent) 100%
  );
  --background-image-gradient-glow-backdrop: radial-gradient(
    8em circle at calc(50%) 10px,
    var(--color-green-500),
    transparent 30%
  );
  --background-image-gradient-fluo: linear-gradient(
    180deg,
    var(--fluo-gradual-start),
    var(--fluo-gradual-end)
  );
  --background-image-gradient-fluo-tr: linear-gradient(
    to right,
    var(--fluo-gradual-start),
    var(--fluo-gradual-end)
  );
  --background-image-gradient-four-c3: linear-gradient(
    to right,
    #22d8e0 30%,
    #10b981 60%,
    #facc15 100%
  );
  --background-image-gradient-four-c4: linear-gradient(
    to right,
    #6366f1 25%,
    #22d8e0 50%,
    #10b981 75%,
    #facc15 100%
  );
  --background-image-gradient-article-cover: radial-gradient(
    circle at center,
    white 0%,
    white 0%,
    #10b981 60%
  );
}

@keyframes surf {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 6px);
  }

  50% {
    transform: translate(0, -6px);
  }

  75% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  from {
    background: var(--color-pulse-100);
  }

  to {
    background: var(--color-pulse-200);
  }
}

/* ========== Custom Utilities ========== */
@utility bg-gradient-radial {
  background-image: var(--background-image-gradient-radial);
}

@utility bg-gradient-subtle {
  background-image: var(--background-image-gradient-subtle);
}

@utility bg-gradient-subtle-dark {
  background-image: var(--background-image-gradient-subtle-dark);
}

@utility bg-gradient-subtle-gray {
  background-image: var(--background-image-gradient-subtle-gray);
}

@utility bg-gradient-subtle-white {
  background-image: var(--background-image-gradient-subtle-white);
}

@utility bg-gradient-glow-backdrop {
  background-image: var(--background-image-gradient-glow-backdrop);
}

@utility bg-gradient-fluo {
  background-image: var(--background-image-gradient-fluo);
}

@utility bg-gradient-fluo-tr {
  background-image: var(--background-image-gradient-fluo-tr);
}

@utility bg-gradient-four-c3 {
  background-image: var(--background-image-gradient-four-c3);
}

@utility bg-gradient-four-c4 {
  background-image: var(--background-image-gradient-four-c4);
}

@utility bg-gradient-article-cover {
  background-image: var(--background-image-gradient-article-cover);
}
